/* 메인 페이지 App.css 시작 */
/* App.css 수정본 */
.App {
  text-align: center;
  font-family: 'Arial, Helvetica, sans-serif';
  background-color: #f5f5f5; /* 모든 페이지의 배경 색상 통일 */
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* 공통 버튼 스타일 */
.button, .upload-page-button {
  cursor: pointer;
  margin: 20px;
  padding: 10px 20px;
  font-size: 1em;
  border: none;
  border-radius: 24px;
  background-color: #000050; /* 버튼 색상 */
  color: white;
}

/* 특정 페이지에 맞춰 추가적인 버튼 스타일링이 필요한 경우 */
.upload-page-button:disabled {
  background-color: #EFD19D;
  cursor: not-allowed;
}

/* .upload-page 잠시 제거 배경, 텍스트, 이미지 컨테이너 등 모든 페이지에 공통적인 스타일 */
.home-page, .transforming-page, .transformation-complete-page {
  width: 100%; /* 전체 너비 사용 */
  max-width: 1200px; /* 최대 너비 설정, 필요에 따라 조정 가능 */
  margin: auto; /* 가운데 정렬 */
  padding: 20px; /* 여백 추가 */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #f5f5f5;
  text-align: center;
}

.home-page h1, .transforming-page h1, .transformation-complete-page h1 {
  margin: 20px;
  font-size: 2em;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  padding-bottom: 20px;
}

.header-left {
  display: flex;
  align-items: center;
}

.logo-image {
  height: 48px;
  margin-right: 8px;
}

.logo-text {
  color: #3617ce;
  font-size: 24px;
  font-weight: bold;
}

.header-middle {
  display: flex;
}

.button-link {
  background-color: transparent;
  border: none;
  color: #3617ce;
  padding: 8px 16px;
  font-size: 16px;
  margin-left: 8px;
  cursor: pointer;
}

.header-right {
  display: flex;
  align-items: center;
}

.header-icon {
  height: 24px;
  margin-left: 8px;
}

.body {
  display: flex;
  justify-content: space-between; /* 양 끝으로 정렬 */
  padding: 32px;
  padding-top: 100px;
  flex-direction: row; /* 항목을 수평으로 배열 */
}

.body-left {
  display: flex;
  position: relative;
  width : 50%;
  height: 400px;
  align-items: center;
  justify-content: center;
}

.body-text-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-bottom: 32px;
  margin-right: 20px; /* 오른쪽으로 조금 더 밀어내기 */
}

.intro-text {
  color: #000000;
  font-size: 30px;
  font-family: 'Arial';
  font-weight: 500;
  line-height: 52px;
  text-align: left;
  margin-bottom: 16px;
}

.intro-text2 {
  color: #000000;
  font-size: 16px;
  font-family: 'Arial';
  font-weight: 500;
  line-height: 32px;
  text-align: left;
  margin-bottom: 16px;
}

.homepage-buttons {
  display: flex;
  flex-direction: column; /* Change to column */
  align-items: flex-end; /* Align to the right */
  justify-content: space-between; /* Add this to vertically space the buttons */
  width: 40%; /* Reduce the width to make room for the start-button and demo-button */
  margin-top: 0px;
}

.start-button, .demo-button {
  background-color: #3617ce; /* Start 버튼의 배경색, Demo 버튼은 이후에 오버라이드됩니다. */
  color: #ffffff; /* 공통 텍스트 색상, Demo 버튼은 이후에 오버라이드됩니다. */
  border: none;
  padding: 12px 24px; /* 패딩을 통일 */
  font-size: 18px; /* 폰트 크기를 통일 */
  cursor: pointer;
  margin-bottom: 10px; /* 마진을 통일 (Demo 버튼의 경우 이 값을 오버라이드할 필요가 없음) */
  margin-right: 30px;
  border-radius: 13px;
  box-sizing: border-box;
  line-height: 21px; /* 라인 높이를 통일 */
  font-family: Work Sans;
  outline: none;
  width: 205px; /* 너비를 통일 */
  height: 67px; /* 높이를 통일 */
}

.start-button {
  background-color: #3617ce; /* Start 버튼의 배경색 */
  color: #ffffff; /* Start 버튼의 텍스트 색상 */
}

.demo-button {
  background-color: #ffffff; /* Demo 버튼의 배경색 */
  color: #3617ce; /* Demo 버튼의 텍스트 색상 */
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row-reverse;
  font-weight: 500;
}

.main-image {
  max-width: 100%;
  height: auto;
}
/* 메인 페이지 App.css 끝 */

/* 업로드 페이지 App.css 시작 */
.card {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 24px;
  top: 47px;
  left: 495px;
  width: 640px;
  height: 550px;
  background-color: #ffffff;
  border-radius: 24px;
}

.innercard {
  background-color: #f5f5f5;
  border-radius: 20px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  position: relative;
  width: 592px;
  height: 406px;
}

.upload-page-buttons {
  display: flex;
  justify-content: space-around;
  width: 100%;
  margin-top: 20px;
}

.upload-icon {
  margin-top: 20px; /* 상단 여백 추가 */
  width: 88px; /* 이미지 크기 조정 */
  height: auto; /* 이미지 높이는 자동으로 조정 */
}

.upload-title {
  color: #3617ce;
  font-size: 24px;
  font-family: "Work Sans";
  font-weight: 600;
  line-height: 30px;
  margin-top: 20px; /* 이미지와의 간격 조정 */
}

.upload-description {
  color: #3617ce;
  font-size: 16px;
  font-family: "Work Sans";
  font-weight: 500;
  line-height: 20px;
  margin-top: 10px; /* 제목과의 간격 조정 */
}

/* 버튼 스타일 */
.upload-button {
  cursor: pointer;
  padding: 12px 24px;
  border: 1px solid #3617ce;
  border-radius: 10px;
  background-color: rgba(114,163,232,0);
  color: #3617ce;
  font-size: 14px;
  font-family: 'Arial, sans-serif';
  font-weight: 500;
  line-height: 18px;
  outline: none;
  margin-top: 20px; /* 설명 텍스트와의 간격 조정 */
}

.sidebar {
  position: fixed;
  top: 0;
  left: 0;
  width: 270px;
  height: 100%;
  background-color: #3617ce;
  display: flex;
  flex-direction: column;
  padding-top: 20px;
  align-items: center; /* 세로 중앙 정렬 */
  justify-content: center; /* 가로 중앙 정렬 */
}

.profile-image {
  position: absolute;
  top: 47px;
  left: 50%; /* 중앙 정렬 */
  transform: translateX(-50%); /* X축 기준으로 -50% 이동하여 완벽 중앙 정렬 */
  width: 72px;
  height: 72px;
  border-radius: 50%;
  border: 2px solid #ffffff;
  background-image: url('../public/profilePhoto.png');
  background-size: cover;
  background-position: center;
}

.menu-item1, .menu-item2, .menu-item3, .menu-item4, .menu-item5, .menu-item6 {
  display: flex;
  position: absolute;
  left: 40; /* 왼쪽에서부터의 거리 */
  width: 170px; /* 너비 */
  color: #ffffff; /* 글자 색상 */
  font-size: 16px; /* 글자 크기 */
  font-weight: 700; /* 글자 두께 */
  line-height: 20px; /* 줄 간격 */
}

.menu-item2 {
  display: flex;
  color: #3617ce;
  left : 40px;
  font-weight: 700;
}

.menu-item1 { top: 160px; }
.menu-item3 { top: 262px; }
.menu-item4 { top: 314px; }
.menu-item5 { top: 788px; }
.menu-item6 { top: 840px; }

.icon {
  margin-right: 12px; /* 아이콘과 글자 사이의 간격 */
  color: #ffffff; /* 아이콘 색상 */
  font-size: 23px;
}

.whitebackground {
  position: absolute;
  top: 200px; /* 메뉴 1 바로 아래에 위치하도록 조정 */
  left: 10px;
  width: 250px;
  height: 44px;
  background-color: #f5f9fd;
  border-radius: 9px;
  z-index: 0; /* 메뉴 2의 글자와 아이콘 위로 배치되지 않도록 */
  display: flex;
  align-items: center; /* 세로 중앙 정렬 */
  justify-content: center; /* 가로 중앙 정렬 */
}

.upload-button:hover {
  background-color: #d2c9ff;
}

.file-name-display {
  font-size: 25px;
  color: #5f5f5f;
  margin: 10px 0;
}

/* 업로드 페이지 App.css 끝 */
/* App.css */

.spinner {
  border: 4px solid rgba(72, 37, 47, 0.432);
  border-radius: 24px;
  border-top: 4px solid #B3C4E5;
  width: 200px;
  height: 200px;
  animation: spin 2s linear infinite;
}


/* App.css */
.App {
  font-family: 'Arial, Helvetica, sans-serif';
  background-color: #f5f5f5; /* 배경 색상 */
  height: 100vh; /* 전체 높이 */
  display: flex;
  align-items: center;
  justify-content: center;
}

.button {
  cursor: pointer;
  width: 170px;
  height: 100px;
  padding: 10px 15px;
  border: 0;
  box-sizing: border-box;
  border-radius: 24px;
  background-color: #000050; /* 버튼 색상 */
  color: #ffffff;
  font-size: 30px;
  font-weight: 500;
  line-height: 39px;
  outline: none;
  margin: 10px; /* 버튼 간격 */
}

/* 스피너 애니메이션 */
@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

/* 스피너를 중앙에 배치하기 위한 부모 요소 스타일 */
.spinner-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh; /* 뷰포트 높이의 100% */
}
